@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>ConstructionLK is a free web platform for builders, constructors and customers to get together and help each other. And to find, evaluate and select the product/solutions or service providers for your all construction needs</p>
