@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Techwire Lanka (Pvt) Ltd<br />
    270/A/2 Hapugoda Kandana<br />
    <abbr title="Phone">TP:&nbsp;&nbsp;</abbr>
    +94 773 798 053
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:pahanimg10@gmail.com">support@constructionlk.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:pahan@techwirelanka.com">marketing@techwirelanka.com</a>
</address>