@{
    ViewBag.Title = "Home";
}
<link href="~/Content/Home/style.css" rel="stylesheet" />
<link href="~/Content/Index.css" rel="stylesheet" />
<div class="jumbotron2 jumbotron"></div>
<div class="background-wrap">
    <video id="video-bg-elem" preload="auto" autoplay="auto" loop="loop" muted="muted">
        <source src="~/Resources/background-header-v2.MP4" type="video/mp4" />
        Video not supported
    </video>
    <div class="content"></div>
</div>
<div class="jumbotron">

    <p class="lead">ConstructionLK is a free web platform for builders, constructors and customers to get together and help each other. And to find, evaluate and select the product/solutions or service providers for your all construction needs</p>
    <p>
        <a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a>
    </p>
</div>
<div class="container2">
    <img src="~/Resources/Nexus_5_Front_View.png" alt="MobileApp" class="image" style="width:100%">
    <div class="mobile-card">
        <div class="alert alert-dismissible alert-warning">
            
            <h1>Its here!</h1>
            <p><h3>Get our comprehensive mobile Apps to stay updated. It's simple, fast, and easy to manage your account as well as make your payments. Available on Google Play and the App Store.</h3></p>
        </div>
        @*<div class="">
            <p>
                <h1>Get our comprehensive mobile Apps to stay updated. It's simple, fast, and easy to manage your account as well as make your payments. Available on Google Play and the App Store</h1>
            </p>
        </div>*@
    </div>
    <div class="middle">
        <div class=""><a class="btn btn-warning btn-lg btn-block" href="#">Get it here &raquo;</a></div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Services</h2>
        <p>
            Meet abundant service providers in diverse specializations in order to meet your building project task successfully.
        </p>
        <p><a class="btn btn-info" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Building Materials</h2>
        <p>Find your needy row material for your building project at ease considering the quality and volume</p>
        <p><a class="btn btn-info" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Plants Machinery and Tools</h2>
        <p>Source the best plant and machinery that delivery you project are successful and make you stay a head progress of your construction schedule</p>
        <p><a class="btn btn-info" href="#">Learn more &raquo;</a></p>
    </div>
</div>
