
@{
    ViewBag.Title = "Customer Summery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>CustomerSummery</h2>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Monthly Registrations of Customers</h2>
            </div>
            <div class="panel-body">
                <canvas id="CustomerChart"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Monthly Registrations of Service Providers</h2>
            </div>
            <div class="panel-body">
                <canvas id="SPChart"></canvas>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(function () {
            $.ajax({
                url: '/Admin/CustomerChart/VehicleSummary',
                dataType: "json",
                type: "GET",
                contentType: 'application/json; charset=utf-8',
                async: false,
                processData: false,
                cache: false,
                delay: 15,
                success: function (data) {
                    toastr.success("Successfully Loaded!");
                    var labels = [], points = [], coloR=[];
                    var dynamicColors = function () {
                        var r = Math.floor(Math.random() * 255);
                        var g = Math.floor(Math.random() * 255);
                        var b = Math.floor(Math.random() * 255);
                        return "rgb(" + r + "," + g + "," + b + ")";
                    };
                    for (var i = 0; i < data.length ; i++) {
                        labels.push(data[i].Item);
                        points.push(data[i].Value);
                        coloR.push(dynamicColors());
                        console.log("result");
                    }

                    var ctx = document.getElementById("CustomerChart").getContext("2d");
                    ctx.canvas.width = 300;
                    ctx.canvas.height = 300;
                    var myChart = new Chart(ctx, {
                        type: 'doughnut',
                        data: {
                            labels: labels,
                            datasets: [
                                {
                                    backgroundColor: coloR,
                                    strokeColor: "rgb(220,12,220)",
                                    pointColor: "rgba(220,220,12)",
                                    pointStrokeColor: "#fff",
                                    pointHighlightFill: "#fff",
                                    pointHighlightStroke: "rgba(220,220,220,1)",
                                    data: points
                                }
                            ]
                        },
                        options: {
                            legend: {
                                display: true,
                                labels: {
                                    fontColor: 'rgb(255, 255, 255)'
                                }
                            }
                        }
                    });
                },
                error: function (xhr) {
                    alert('error');
                }
            });
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $.ajax({
                url: '/Admin/ServiceProviderChart/SPSummary',
                dataType: "json",
                type: "GET",
                contentType: 'application/json; charset=utf-8',
                async: false,
                processData: false,
                cache: false,
                delay: 15,
                success: function (data) {
                    toastr.success("Successfully Loaded!");
                    var labels = [], points = [], coloR=[];
                    var dynamicColors = function () {
                        var r = Math.floor(Math.random() * 255);
                        var g = Math.floor(Math.random() * 255);
                        var b = Math.floor(Math.random() * 255);
                        return "rgb(" + r + "," + g + "," + b + ")";
                    };
                    for (var i = 0; i < data.length ; i++) {
                        labels.push(data[i].Item);
                        points.push(data[i].Value);
                        coloR.push(dynamicColors());
                        console.log("result");
                    }

                    var ctx = document.getElementById("SPChart").getContext("2d");
                    ctx.canvas.width = 300;
                    ctx.canvas.height = 300;
                    var myChart2 = new Chart(ctx, {
                        type: 'doughnut',
                        data: {
                            labels: labels,
                            datasets: [
                                {
                                    backgroundColor: coloR,
                                    strokeColor: "rgb(220,12,220)",
                                    pointColor: "rgba(220,220,12)",
                                    pointStrokeColor: "#fff",
                                    pointHighlightFill: "#fff",
                                    pointHighlightStroke: "rgba(220,220,220,1)",
                                    data: points
                                }
                            ]
                        },
                        options: {
                            legend: {
                                display: true,
                                labels: {
                                    fontColor: 'rgb(255, 255, 255)'
                                }
                            }
                        }
                    });
                },
                error: function (xhr) {
                    alert('error');
                }
            });
        });
    </script>
}
@*@section scripts
    {
        <script>
            window.onload = function () {

            };
        </script>
        <script type="text/javascript">
            $(function () {
                $.ajax({
                    url: '/Admin/CustomerChart/VehicleSummary',
                    dataType: "json",
                    type: "GET",
                    contentType: 'application/json; charset=utf-8',
                    async: false,
                    processData: false,
                    cache: false,
                    delay: 15,
                    success: function (data) {
                        toastr.success("Successfully Loaded!");
                        var dataPoints = new Array();
                        for (var i in data) {
                            dataPoints.push({ label: data[i].Item, y: data[i].Value });
                        }
                        var chart = new CanvasJS.Chart("chartContainer", {
                            theme: "theme2",
                            animationEnabled: true,
                            title: {
                                text: "Simple Column Chart in ASP.NET MVC"
                            },
                            subtitles: [
                                { text: "Try Resizing the Browser" }
                            ],
                            data: [
                                {
                                    type: "bar", //change type to bar, line, area, pie, etc
                                    dataPoints: dataPoints
                                }
                            ]
                        });
                        chart.render();
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });
            });
        </script>
    }*@
