@{
    ViewBag.Title = "Posted";
}

<div class="alert alert-dismissible alert-success">
    <h4>Posted Successfully</h4>
    <p>
        <strong>
            Your post was successfully posted on your wall. To view newly added post return to your Profile.
        </strong>
    </p>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
