
@{
    ViewBag.Title = "Blacklisted";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Home/style.css" rel="stylesheet" />
<link href="~/Content/Index.css" rel="stylesheet" />
<h2>You have been black-listed</h2>
<h4>Please contact a support person to recover your account!</h4>
<div class="jumbotron jumbotron2">
</div>

