<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://constructionlk.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>constructionlk.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>constructionlk</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$constructionlk</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="ConstructionLK.Models.ApplicationDbContext" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ConstructionLK.Models.ApplicationDbContext, ConstructionLK" MigrationConfiguration="ConstructionLK.Migrations.ApplicationDbContext.Configuration, ConstructionLK" Origin="" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Techwire" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=api.techwirelanka.com;Initial Catalog=CONSTRUCTIONLK;User ID=constructionlkuser;Password=123456;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Techwire_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=api.techwirelanka.com;initial catalog=CONSTRUCTIONLK;user id=constructionlkuser;password=123456;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Azure" Order="5" Enabled="False" xmlns="">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="MultipleDBMigrations" DbContext="ConstructionLK.Models.ConstructionLKContext, ConstructionLK" MigrationConfiguration="-DuplicateMigration-" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ConstructionLKContext" Order="6" Enabled="False" xmlns="">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=NISHAN-ACER;Initial Catalog=CONSTRUCTIONLK;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConstructionLKContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=NISHAN-ACER;initial catalog=CONSTRUCTIONLK;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Azure-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ConstructionLK.Models.ModelTemp-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Techwire-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="ConstructionLK.Models.ApplicationDbContext" />
    <_ConnectionStringsToInsert Include="ConstructionLK.Models.ModelTemp" />
  </ItemGroup>
</Project>