body {
    background: url('../Resources/index.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.jumbotron{
    background-color: rgba(85, 14, 7, 0.70);
    color:white;
}
.jumbotron2{
    background: url('../Resources/Banner.jpg') no-repeat center center;
    background-size:contain;
    background-color: #002b36;
    color:white;
}
.row{
    background-color: rgba(0, 43, 54, 0.80);
    color:white;
    padding:20px;
    border-radius: 6px;
}