@model ConstructionLK.Models.Complain

<div class="alert alert-dismissible alert-success">
    <h4>Thank You</h4>
    <p><strong>Thank you for having taken your time to provide us with your valuable feedback relating to your stay with us.we are sincerely concerned and apologise that we fell short on your expectations in some area.Your helpful comments are much appreciated,and your feedback will help us to continually improve the standard of facilities and services offered to all our users</strong></p>
</div>